html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Montserrat Alternates';
    color:#414242;
    background-color: #e6e6e6; 
    display: flex;
    flex-direction: column;
    align-items: center;
    }

/*

class .
id #
*/

#container{
    width: 60%;
    background-color: aquamarine;
}
/*************** NAVIGATION *************/


/***************** HEADER ***************/
#div-header {
    /*background-color: aqua;*/
    padding-top: 30px;
    display: flex;
    flex-direction:row;
}
#header-logo{
    /*background-color: yellow;*/
    padding-left: 25px;
    width: 50%;
    
}
#header-bolinhas{
    /*background-color: blueviolet;*/
    width: 50%;
    
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: end;
}
.bolinha{
    /*background-color: palevioletred;*/
    width: 40px;
    height:40px;
    border-radius: 20px;
    margin-right: 5px;

}
#ilustracao-container{
    width: 100%;
    display: flex;
    /*background-color: peru;*/
}
#ilustracao-header{
    position: relative;
    display: inline-block;
    align-self: center;
    margin: auto;
    margin-top: 100px;
    /*background-color: blueviolet;*/
}
#ilustracao-header img {
    position: center;
    /*background-color: violet;*/
    width: 100%;
}


#texto-design p{
    font-size: 20px;
    position: absolute;
    top: 40px;
    left: 20px;
    font-weight: lighter;
}

#texto-historia p{
    font-size: 23px;
    position: absolute;
    bottom:50px;
    right: 15px;
    font-weight: lighter;

}

/***************** MAIN *****************/
#titulo-section-1{
    width: 100%;
    background-color: tomato;
    padding-left: 20px;
    margin-top: 100px;
}
#texto-section-1{
    font-size: 39px;
    font-weight: bold;
 
}
#subtexto-section-1{
    font-size: 23px;
    font-weight: lighter;
}
#container-janelas{
    width: 95%;
    background-color: steelblue;
    display: flex;
    flex-direction:row;
    margin-left: 20px;
    justify-content: space-between;
    padding-right: 20px;
    margin-bottom: 160px;
   
    
}
.janela-solucao{
    height: 420px;
    width: 30%;
    background-color: #ffffff;
    margin-top: 50px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: relative;
    
   
}
.janela-circulo{
    background-color: #E6E6E6;
    width: 80%;
    height: 50%;
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    margin:auto;
    margin-top: 20px;
    
}
.ondinha{
    position: absolute;
    right: -7px;
    bottom: -2px;
    width: 100%;
}

.janela-img{
    width: 75%;
    z-index: 1;
}
#janela-img-3{
    position: absolute;
    width: 93%;
    top:0px;
}
.janela-texto{
    position: absolute;
    margin-left: 18px;
    bottom: 0px;
    height: 48%;
    
}
.janela-texto p{
    font-size: 19px;
    font-weight: lighter;
    margin-top: 20px;
}
.janela-texto .titulo-janela{
    font-size: 33px;
    font-weight:bolder;
    margin-top: 15px;
}
.bottom-janela-texto{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    bottom:20px;
}
.bottom-janela-circulo{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    background-color: white;
}
/***************** FOOTER ***************/